version: '3.8'

services:
  db:
    image: mysql:5.7
    container_name: mysql_db
    env_file:
      - db.env
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    networks:
      - wordpress_network

  wordpress:
    image: wordpress:latest
    container_name: wordpress_app
    env_file:
      - db.env
    ports:
      - "8000:80"
    depends_on:
      - db
    networks:
      - wordpress_network

volumes:
  db_data:

networks:
  wordpress_network: